{% extends 'layouts/default.html' %}
{% block head  %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
{% endblock head  %}
{% block body  %}
<nav class="menuhorizontal">
    <ul>
<li class="menu-wolof"  target="_blank" ><a href="Acceuil.html">Acceuil </a>
<ul class="submenu">
  
</ul>   

</li>
<li class="menu-pulaar"><a  href="sousrep/Vision.html"  target="_blank" >Vision </a>
<ul class="submenu">
    <li><a href="#">Valeurs</a>  </li>
  <li><a href="#">Engagement</a>  </li>
  <li><a href="#">Objectifs</a>  </li>

  
</ul>

</li>
<li class="menu-serere"><a href="sousrep/Voitures.html"  target="_blank">Voitures</a>
<ul class="submenu">
 <li>  <a href="sousrep/Voitures.html#berlines" >Berline</a>  </li>
  <li>  <a href="sousrep/Voitures.html#4x4">  4x4</a>  </li>
  <li>  <a href="#sousrep/Voitures.html#Sport">  Sport</a>  </li>
  
  
  
  
  
  
</ul>
<li class="menu-pulaar"><a  href="sousrep/Service.html"  target="_blank" >Services </a>
<ul class="submenu">
 <li><a href="#">Service apres vente</a>  </li>
  <li><a href="#">Ventes pieces detachees</a>  </li>
  <li><a href="#">Assurance</a>  </li>
   
  
</ul>

</li>

<li class="menu-senegal"><a href="sousrep/Contacts.html"  target="_blank">Contacts</a> </li>
 
 
 
                </ul>   
      


  
  </nav>
  <br/>
   
  
    <nav  class="menuvertical">
    <ul>
<li class="menu-wolof"  target="_blank" ><a href="Acceuil.html">Acceuil </a>
<ul class="submenu">
  
</ul>   

</li>
<li class="menu-pulaar"><a  href="sousrep/Vision.html"  target="_blank" >Vision </a>
<ul class="submenu">
    <li><a href="#">Valeurs</a>  </li>
  <li><a href="#">Engagement</a>  </li>
  <li><a href="#">Objectifs</a>  </li>

  
</ul>

</li>
<li class="menu-serere"><a href="sousrep/Voitures.html"  target="_blank">Voitures</a>
<ul class="submenu">
 <li>  <a href="sousrep/Voitures.html#berlines" >Berline</a>  </li>
  <li>  <a href="sousrep/Voitures.html#4x4">  4x4</a>  </li>
  <li>  <a href="#sousrep/Voitures.html#Sport">  Sport</a>  </li>
  
  
  
  
  
  
</ul>
<li class="menu-pulaar"><a  href="sousrep/Service.html"  target="_blank" >Services </a>
<ul class="submenu">
 <li><a href="#">Service apres vente</a>  </li>
  <li><a href="#">Ventes pieces detachees</a>  </li>
  <li><a href="#">Assurance</a>  </li>
   
  
</ul>

</li>

<li class="menu-senegal"><a href="sousrep/Contacts.html"  target="_blank">Contacts</a> </li>
 
 
 
                </ul>   
      
              
</nav><br/><br/>
          <img src="C:\Users\ACER\Documents\PROJETHTML\images_1-lanczos3.png" class="pic" style="margin-left: 300px"  /><br/><br/>

          <big> <center style="color: blue"><h1>PRESENTATION</h1></center></big>    
 <p style="font-weight: 800">
  L'agence automobile<strong style="color: blue"> SenAuto</strong> vous reçoit à la même adresse depuis 15 ans. 1er créateur du concept de l'agence automobile, son fondateur,<strong style="color: blue">Ahmadou Bamba Diagne</strong><br/>
  met à votre disposition son professionnalisme et sa parfaite connaissance de l'automobile pour vous accompagner aussi bien dans <br/>
  l'achat que pour la vente de votre véhicule. L'agence automobile continue de vous proposer un service de dépôt gratuit <br/>
  et s'occupe de toutes les formalités . Achat, vente, Crédit et reprise rachat cash ou dépôt vente gratuit ? à vous de choisir...<br/>
  
Les véhicules vendus par l'Agence automobile font l'objet d'une sélection rigoureuse, carnet, facture d'entretien, provenance<br/>
du véhicule, double de clé et tous autres antécédents du véhicule afin de garantir à l'acheteur la transparence la plus totale pour rouler<br/> tranquille.
 
 </p><br/>
     <big> <center style="color: blue"><h1>NOS VEHICULES</h1></center></big>
     <p style="font-weight: 800">L'entreprise <strong>SenAuto</strong> vous propose toute gamme de vehicules allant des berlines aux camions.Nous offrons des produits de qualites repondant a vos besoins<br/>
     Nous sollicitons a chaque fois nos marques partenaires de classe </p><br/>
        
        <marquee><span>
 <a title="Cliquez pour aller" href="sousrep/Voitures.html" target="_blank"><img   src="C:\Users\ACER\Documents\PROJETHTML\hyndai.jpg" ></a>
 <a title="Cliquez pour aller" href="sousrep/Voitures.html" target="_blank">  <img   src="C:\Users\ACER\Documents\PROJETHTML\volkswagen.jpg" ></a>
 <a title="Cliquez pour aller" href="sousrep/Voitures.html" target="_blank"> <img    src="C:\Users\ACER\Documents\PROJETHTML\logo-nissan.jpg"  ></a>
  <a title="Cliquez pour aller" href="sousrep/Voitures.html" target="_blank">  <img   src="C:\Users\ACER\Documents\PROJETHTML\logo-toyota.jpg" ></a>                    
 <a title="Cliquez pour aller" href="sousrep/Voitures.html" target="_blank">  <img   src="C:\Users\ACER\Documents\PROJETHTML\peugeot.jpg" ></a>
 <a title="Cliquez pour aller" href="sousrep/Voitures.html" target="_blank">  <img   src="C:\Users\ACER\Documents\PROJETHTML\renault.jpg" ></a>     
  </span></marquee>
         <big> <center style="color: blue"><h1>NOS SERVICES</h1></center></big>
         <p style="font-weight: 800">
          <strong style="color: blue"> SenAuto</strong>c'est avant tout des services adaptes a vos besoins pour assurer votre confort.Nous disposons de techniciens hautement qualifies qui assureront un bon.En plus,nous proposons des prix abordables sur les pieces detachees
           de bonne qualité.
            <span><marquee>
 <a title="Cliquez pour aller" href="C:\Users\ACER\Documents\PROJETHTML\sousrep\Service.html" target="_blank">  <img   src="C:\Users\ACER\Documents\PROJETHTML\sousrep\ass1.jpg" ></a>
 <a title="Cliquez pour aller" href="C:\Users\ACER\Documents\PROJETHTML\sousrep\Service.html" target="_blank"> <img    src="C:\Users\ACER\Documents\PROJETHTML\sousrep\ass2.png"  ></a>
  <a title="Cliquez pour aller" href="C:\Users\ACER\Documents\PROJETHTML\sousrep\Service.html" target="_blank">  <img   src="C:\Users\ACER\Documents\PROJETHTML\sousrep\sav6.jpg" ></a>
 <a title="Cliquez pour aller" href="C:\Users\ACER\Documents\PROJETHTML\Service.html" target="_blank"> <img    src="C:\Users\ACER\Documents\PROJETHTML\sousrep\sav5.jpg"  ></a>

            </span></marquee>

         
         </p>
 
 
 
 
 
 
 
 
 
 

{% endblock body  %}
