{% extends 'layouts/default.html' %}
{% block head%}
<meta charset="utf-8">
	
 <title>Signup Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">    

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
{% block body %}

<div class="container-fluid">
		<div class="container">
			<div class="formBox">
				
				<form method="POST" >
						<div class="row">
							<div class="col-sm-12">
								<h1>Register form</h1>
							</div>
						</div>
						{% with messages = get_flashed_messages() %}
						{% if messages %}
							<div class="notification is-danger">
								<h3 style="color: red;">{{ messages[0] }}<span class="glyphicon glyphicon-remove"></span>
								</h3>
							</div>
						{% endif %}
						{% endwith %}
					
					
						<div class="row">
							<div class="col-sm-6">
								<div class="inputBox ">
									<div class="inputText">First Name</div>
									<input type="text" id='Fname' name="Fname" required class="input">
								</div>
							</div>

							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText">Last Name</div>
									<input type="text" id='Lname' name="Lname" required class="input">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText">Email</div>
									<input type="email" id='email' name="email" class="input">
								</div>
							</div>

							</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="inputBox">
									<div class="inputText">Password</div>
									<input   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" id='passwd' name="passwd" required class="input">
								<h6>	Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</h6>
							 
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<input type="submit" name="" class="button" value="Send">
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
<script src="{{ url_for('static', filename='js/_hidden.js') }}"></script>

{% endblock  %}
