{% extends 'layouts/default.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{% endblock %}
{% block body %}
<a  class="btn btn-primary" href="{{url_for('logout')}}" style="float: right;"  class="card-link">Logout     </a>

<center><h1 style="color: black;" >Welcome {{request_user[1]}} !!!</h1> </center>
<form method="POST" class="navbar-form navbar-right inline-form"  >
    <div class="form-group container" >
        <span class="glyphicon glyphicon-eye-open"></span>
      <input type="search" class="input-sm form-control" name='research' id='research' placeholder="Research">
      <span>
        <button type="submit" class="btn btn-primary btn-sm"></span> Search</button>
    </div> 
{% include 'shared/pagination.html' %}
{% include 'shared/prev_next_page.html' %}

{% endblock %}
</html>
