<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

<div class="container" id="nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="{{url_for('index')}}">
            <img id="navhidden" rel="shortcut icon" src="{{ url_for('static', filename='img/favicon.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Top 100</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {% if 'user_id' not in session %}


            </ul>
            <a class="nav-link btn btn-primary text-white navhidden "  type="button"
                href="{{url_for('login')}}">Sign
                in</a>
            <a class="nav-link btn btn-danger text-white navhidden "  type="button"
                href="{{url_for('signup')}}">Register</a>
            {% else %}
            <a class="nav-link btn btn-danger text-white navhidden "  type="button"
                href="{{url_for('logout')}}">Logout</a>
            {% endif %}

        </div>
        <!-- The Modal -->


    </nav>
</div>